name = "dnscloak"
main = "src/index.ts"
compatibility_date = "2024-01-01"

# Routes for all services
routes = [
  { pattern = "mtp.dnscloak.net", custom_domain = true },
  { pattern = "reality.dnscloak.net", custom_domain = true },
  { pattern = "wg.dnscloak.net", custom_domain = true },
  { pattern = "vray.dnscloak.net", custom_domain = true },
  { pattern = "ws.dnscloak.net", custom_domain = true },
  { pattern = "dnstt.dnscloak.net", custom_domain = true }
]
